[Unit]
Description=Reverse tunnel via SSH - forwards remote %%PROXY_PORT%% to local %%LOCAL_PORT%% for %%SERVICE%%
After=network-online.target
Wants=network-online.target
AssertPathExists=/etc/ssh-tunneler/tunneler.conf
StartLimitInterval=90
StartLimitBurst=3

[Service]
User=tunneler
Restart=always
RestartSec=5
ExecStart=/bin/bash /etc/ssh-tunneler/active/tunneler-%%SERVICE%%-%%PROXY_PORT%%to%%LOCAL_PORT%%.sh

[Install]
WantedBy=default.target
